/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Custom CSS Added Here: */
/* CSS Color Scheme
 * #4CBED5
 * #E98B23
 * #FFC427
 * #0081AC
 */

/* General CSS */

html {
  background-color: #0081AC;
  margin: 0 3vw;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-family: Yantramanav, Sarabun, Helvetica, Arial, Sans-Serif;
  margin: 3% auto;
  max-width: 59.375em;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

section {
  padding-top: 3.653em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'source sans pro', sans-serif, arial;
  font-weight: bold;
  line-height: 1em;
  padding-bottom: 0.493em;
}

h1 {
  font-size: 4.11em;
}

h2 {
  font-size: 2.566em;
}

h3 {
  font-size: 2.281em;
}

h4 {
  font-size: 1.802em;
}

h5 {
  font-size: 1.266em;
}

p {
  font-size: 1.424em;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #4CBED5;
}

a:hover {
  color: #5CE4FF;
}

figure {
  display: block;
  margin-bottom: 2.566em;
}

img {
  border-radius: 0.889em;
  display: block;
  max-width: 100%;
  padding-bottom: 0.493em;
}

figcaption {
  display: block;
}

cite {
  display: block;
  font-size: 0.624em;
  margin-top: 1.125em;
}

strong {
  font-weight: bold;
}


/* Header CSS */

#header {
  background-image: url("assets/chicago-iit-cru.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

#header h1 {
  text-align: center;
}

#navigation {
  opacity: 0.8;
}

#navigation li {
  background-color: #4CBED5;
  border-color: black;
  border-style: solid;
  border-width: 0.171em;
  margin-bottom: 2vw;
}

#navigation a {
  box-sizing: border-box;
  color: black;
  display: block;
  font-size: 1.424em;
  height: 100%;
  padding: 4vw;
  text-align: center;
  vertical-align: middle;
}

#navigation a:hover {
  background-color: #5CE4FF;
}

/* Header Media Queries */
@media screen and (min-width: 28.313em) { /* 452px */
  #header {
    padding-bottom: 9.397em;
  }

  #navigation ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-gap: 1em;*/
  }

  #navigation li {
    align-items: center;
    display: inline-block;
    justify-content: center;
    margin-right: auto;
    vertical-align: top;
    width: 48%;
  }

  #navigation li:nth-child(even) {
    margin-right: 0;
  }

  #navigation a {
    padding: 3vw;
  }

  @supports (display: flex) {
    #header li {
      display: list-item;
    }
  }
}

@media screen and (min-width: 38.813em) { /* 621px */
  /* Preserve header size as menu changes structure */
  #header {
    padding-bottom: 13.499em; /* 9.397em + 4.102em */
  }
}

@media screen and (min-width: 40.375em) { /* 646px */
  /* Preserve header size as menu changes structure */
  #header {
    padding-bottom: 16.249em; /* 13.499em + 2.750em */
  }

  #navigation li {
    width: 23%;
  }

  #navigation li:nth-child(even) {
    margin-right: auto;
  }

  #navigation li:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 59.375em) { /* 950px */
  /* Maximum allowed padding for clickable areas */
  #navigation a {
    /* Taking into account the font size of 1.424em */
    padding: 1.294em; /* 28.4667px = 1.294em */
  }
}


/* Weekly Schedule CSS */

ul.schedule {
  border-color: black;
  border-radius: 0.889em;
  border-style: solid;
  border-width: 0.171em;
  font-family: 'Open Sans', sans-serif;
  /*display: flex;
    flex-wrap: wrap;
  display: grid;*/
}

.day {
  background-color: #F6F6F6; /* for browsers that don't support rgba() */
  background-color: rgba(246, 246, 246, 0.75);
  border-radius: 0.889em;
  margin: 1em;
  padding: 2vw 3vw;
}

.day > h4 {
  color: #5368A6; /* Saturated Blue */
  padding-bottom: 0.135em;
}

.event-list {
  font-size: 0.889em;
  margin-left: 1.226em;
}

.event-info {
  padding: 0;
}

.event-info > h5 {
  font-size: 1.602em;
  padding-bottom: 0.135em;
}

.event-info > h5.yellow {
  color: #FEC369; /* orange yellow */
}

.event-info > h5.pink {
  color: #FE72C8; /* hot pink */
}

.event-info > h5.purple {
  color: #CC71E6; /* light purple */
}

.event-info > h5.blue {
  color: #5775FF; /* lighter blue */
}

.event-list {
  list-style-type: disc;
}

.event-list li {
  padding: 0.152em 0;
}

/*@supports (display: flex) {
  #weekly-schedule ul {
    overflow: auto;
    padding-left: 0;
  }

  #weekly-schedule .schedule li {
    padding-left: 0;
  }

  #weekly-schedule .schedule li ul {
    list-style-type: none;
    padding-left: 0;
  }
}

@supports (display: grid) {
  #weekly-schedule ul {
    grid-template-columns: repeat(7, minmax(15vw, 1fr));
    grid-gap: 2em;
  }

  #weekly-schedule .schedule li {
    padding-left: 0;
  }

  #weekly-schedule .schedule li ul {
    list-style-type: none;
    padding-left: 0;
  }
}*/


/* Responsive iframe CSS
  I nest the Google Calendar iframe inside
  a div element to make it responsive.
  This is the CSS to make it responsive.
*/

.responsive-calendar {
  max-width: 100%;
  height: 40em;
}

.responsive-calendar iframe {
  width: 100%;
  height: 100%;
}

/*
@supports (display: grid) {
  #weekly-schedule ul li ul {
    list-style: none;
  }
}
*/


/* Footer CSS */

#footer {
  padding-top: 7.5vw;
}

#footer p {
  font-size: 1.125em;
  padding-bottom: 0.889em;
}

.icons li {
  display: inline-block;
  margin-right: 1.125em;
}

.icons a {
  display: block;
  height: 2.027em;
  width: 2.027em;
}

.icons img {
  background-size: 2.027em;
  background-repeat: no-repeat;
  border-radius: 0;
}

.icons img:hover {
  opacity: 1;
}

.icons img[src="assets/facebook-uncolored.png"]:hover {
  background-image: url("assets/facebook-colored.png");
}

.icons img[src="assets/instagram-uncolored.png"]:hover {
  background-image: url("assets/instagram-colored.png");
}
