/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Custom CSS Added Here: */
/* CSS Color Scheme
 * #4CBED5
 * #E98B23
 * #FFC427
 * #0081AC
 */

/* General CSS */

html {
  background-color: #0081AC;
  margin: 0 3vw;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-family: Yantramanav, Sarabun, Helvetica, Arial, Sans-Serif;
  margin: 3% auto;
  max-width: 59.375em;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

section {
  padding-top: 3.653em;
}

h1,
h2,
h3,
h4 {
  font-family: 'source sans pro', sans-serif, arial;
  font-weight: bold;
  line-height: 1em;
  padding-bottom: 0.493em;
}

h1 {
  font-size: 4.11em;
}

h2 {
  font-size: 2.566em;
}

h3 {
  font-size: 2.281em;
}

h4 {
  font-size: 1.424em;
}

p {
  font-size: 1.424em;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #4CBED5;
}

a:hover {
  color: #5CE4FF;
}

figure {
  display: block;
  margin-bottom: 2.566em;
}

img {
  display: block;
  max-width: 100%;
  padding-bottom: 0.493em;
}

figcaption {
  display: block;
}

cite {
  display: block;
  font-size: 0.624em;
  margin-top: 1.125em;
}

strong {
  font-weight: bold;
}


/* Header CSS */

#header {
  background-image: url("assets/chicago-iit-cru.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

#header nav {
  opacity: 0.8;
}

#header ul {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  /*display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-gap: 1em;*/
}

#header li {
  display: block;
  margin-bottom: 1vw;
}

@supports (display: flex) {
  #header li {
    margin: 0;
  }
}

#header a {
  background-color: #4CBED5;
  border-color: black;
  border-style: solid;
  border-width: 0.175em;
  color: black;
  display: block;
  font-size: 1.125em;
  padding: 4vw;
  text-align: center;
}

/* Header Media Queries */
@media screen and (min-width: 28.250em) {
  #header {
    padding-bottom: 8.833em;
  }

  #header li {
    display: inline-block;
    margin-right: auto;
    vertical-align: top;
    width: 49.5%;
  }

  #header li:last-child {
    margin-right: 0;
  }

  #header a {
    padding: 3vw;
  }
}

@media screen and (min-width: 40.375em) {
  #header {
    padding-bottom: 11.986em; /* 3.153 + 8.833 */
  }

  #header li {
    width: 24.5%;
  }
}

@media screen and (min-width: 59.375em) {
  #header a {
    padding: 1.779em;
  }
}

#header nav a:hover {
  background-color: #5CE4FF;
}

/*@supports (display: grid) {
  #header ul {
    margin: 0;
  }
}

@media screen and (min-width: 61.875em) {
  #header ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr));
    grid-gap: 0vw;
  }
} */


/* Weekly Schedule CSS */

#weekly-schedule .schedule {
  border: 0.175em solid black;
  display: flex;
  display: grid;
}

#weekly-schedule .schedule li {
  margin: 1em 0;
}

#weekly-schedule .schedule li ul {
  display: block;
  list-style-type: circle;
  padding-left: 1.125em;
}

#weekly-schedule .schedule li ul li {
  flex-wrap: wrap;
}

@supports (display: flex) {
  #weekly-schedule ul {
    overflow: auto;
    padding-left: 0;
  }

  #weekly-schedule .schedule li {
    padding-left: 0;
  }

  #weekly-schedule .schedule li ul {
    list-style-type: none;
    padding-left: 0;
  }
}

@supports (display: grid) {
  #weekly-schedule ul {
    grid-template-columns: repeat(7, minmax(15vw, 1fr));
    grid-gap: 2em;
  }

  #weekly-schedule .schedule li {
    padding-left: 0;
  }

  #weekly-schedule .schedule li ul {
    list-style-type: none;
    padding-left: 0;
  }
}


/* Responsive iframe CSS
  I nest the Google Calendar iframe inside
  a div element to make it responsive.
  This is the CSS to make it responsive.
*/

.responsive-calendar {
  max-width: 100%;
  height: 40em;
}

.responsive-calendar iframe {
  width: 100%;
  height: 100%;
}

/*
@supports (display: grid) {
  #weekly-schedule ul li ul {
    list-style: none;
  }
}
*/


/* Footer CSS */

#footer {
  padding-top: 7.5vw;
}

#footer p {
  font-size: 1.125em;
  padding-bottom: 0.889em;
}

.icons li {
  display: inline-block;
  margin-right: 1.125em;
}

.icons a {
  display: block;
  height: 2.027em;
  width: 2.027em;
}

.icons img {
  background-size: 2.027em;
  background-repeat: no-repeat;
}

.icons img:hover {
  opacity: 1;
}

.icons img[src="assets/facebook-uncolored.png"]:hover {
  background-image: url("assets/facebook-colored.png");
}

.icons img[src="assets/instagram-uncolored.png"]:hover {
  background-image: url("assets/instagram-colored.png");
}
